In [1]:
import pandas as pd

# Example data
data = {
    "State": ["Maharashtra", "Uttar Pradesh", "Kerala"],
    "Population": [112374333, 199812341, 33406061],
    "Literacy Rate (%)": [82.34, 67.68, 94.00],
    "Area (sq km)": [307713, 243286, 38863]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('state_demographic_data.csv', index=False)

# Display the DataFrame
df

           State  Population  Literacy Rate (%)  Area (sq km)
0    Maharashtra   112374333              82.34        307713
1  Uttar Pradesh   199812341              67.68        243286
2         Kerala    33406061              94.00         38863